:80 {
	handle /api/* {
		reverse_proxy api:3000
	}

	# Dynamic Proxy for deployments: /d/deploy-{id}/* -> deploy-{id}:3000/*
	handle /d/* {
		@id path_regexp id ^/d/([^/]+)(/.*)?$
		handle @id {
			rewrite {re.id.2}
			reverse_proxy {re.id.1}:3000
		}
	}

	handle {
		root * /srv/ui
		try_files {path} /index.html
		file_server
	}
}
